section.products {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

section.products article:hover {
    border: solid 3px var(--LightGrey);
}

section.products img:hover {
    cursor: pointer;
}


/* Product card containers */
section.products article {
    width: 17vw;
    min-width: 250px;

    border: solid 1px var(--LightGrey);
    border-radius: 1%;
    padding: 0.9rem;
    margin: 1%;
}

/* Category headers */
section.category > h2 {
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
    margin: 2% 0%;

    color: var(--OffWhite);
    font-size: 2rem;
    text-align: center; 
}

/* Product tiles header */
section.products h3 {
    margin: 5% 0%;
}

section.products p {
    text-align: center;
    margin: 5% 0%;
}

section.products img {
    width: 100%;
}

section.add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.add-to-cart input,
section.add-to-cart button {
    border: solid 1px var(--LightGrey);
    border-radius: 1%;
    margin: 0% 2%;
    padding:3.5%;
    font-size: 0.8rem;
}

section.add-to-cart input {
    width: 15%;
}
section.add-to-cart button {
    cursor: pointer;
}


