button.new-product{
    font-family:'Jost', sans-serif;
    font-size:1rem;
    width: 5rem;
    height:2.5rem;
    color: var(--OffWhite);
    background-color: var(--LightBlue);
    cursor: pointer;
}

button.new-product:hover{
    background-color: var(--DarkBlue);
}