button.new-product{
    width: 4rem;
    height:2rem;
    color: var(--OffWhite);
    background-color: var(--LightBlue);
    cursor: pointer;
}

button.new-product:hover{
    background-color: var(--DarkBlue);
}