button.new-product,
button.edit-all{
    width: 5%;
}

 /* .edit-buttons-container button {
    color: var(--OffWhite);
    cursor:pointer;
    height: 40px;
    min-width: 100px;
    font-size: 1rem;
} */

/* .cancel-product{
    background-color: #FB3640;
} */

/* .new-product,
.edit-product {
    background-color: var(--LightBlue);
} */

/* .publish-product{
    background-color:#338156;
} */