input,
textarea,
.products-table > tbody > tr {
    background-color:var(--OffWhite);
    text-align: center;
    color:var(--RaisinBlack);
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
}

.products-table {
    width:95%;
    border-collapse: collapse;
    margin: auto;
}

.products-table > thead > tr > th {
    color:var(--LightBlue);
    height: 3rem;
    border-bottom: 2px solid var(--RaisinBlack);
}

.products-table > tbody > tr > td {
    max-width:28rem;
    text-align: center;
    border-bottom: 1px solid var(--LightGrey);
    height: 1.5rem;
    padding:0.5rem;
}

