.products-table {
    width:95%;
    border-collapse: collapse;
    table-layout:fixed;
    margin: auto;
}

.products-table > thead > tr > th {
    padding:5px;
    height: 3rem;
    color:var(--LightBlue);
    border-bottom: 2px solid var(--RaisinBlack);
}

/* Product ID, Price, Stock amount */
.products-table > thead > tr > th:nth-child(1),
.products-table > thead > tr > th:nth-child(5),
.products-table > thead > tr > th:nth-child(6) {
    width: 7%;
}
/* Product URL */
.products-table > thead > tr > th:nth-child(2) {
    width: 14%;
}

/* Name */
.products-table > thead > tr > th:nth-child(3) {
    width: 20%;
}

/* Description */
.products-table > thead > tr > th:nth-child(4) {
    width: 35%;
}

.products-table > thead > tr > th:nth-child(7) {
    width: 10%;
}

