/* Places the product cards */
section.products {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

section.products:hover .product-card:not(:hover){
    filter: grayscale(100%);
    opacity:0.5;
}

section.products:hover .product-card:not(:hover):after{
    background-color: rgba(#000, 0.5);
}


/* Category headers */
section.category > h2 {
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
    margin: 2% 0%;

    color: var(--OffWhite);
    font-size: 2rem;
    text-align: center; 
}