/* .products-table > tbody > tr > td > input,
.products-table > tbody > tr > td > textarea {
    width: 100%;
    height: 100%;
    border: solid 1px #737373;
}

.products-table > tbody > tr > td > input.id {
    border:none;
} */