.new-item td {
    text-align: center;
    background-color:#f0f0f5;
    min-height:5rem;
}

.new-item td > input.id {
    border:none;
}

.new-item td > input,
.new-item td > select {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    text-align: center;
    color:var(--RaisinBlack);

    background-color: #f0f0f5;
    height:4rem;
    width:90%;
    border: none
}

.new-item td > input:focus,
.new-item td > select:focus {
    outline-color: var(--LightBlue);
    background-color: #dedee6;
}