button.submit,
button.save,
button.edit,
button.cancel,
button.delete {
    cursor:pointer;
    height: 25px;
    min-width: 60px;
    font-size: 0.8rem;
    color: var(--OffWhite);
    margin:5%;
}

button.submit,
button.save {
    background-color: #53af6f;
}

button.submit:hover,
button.save:hover {
    background-color: #3d8a55;
}

button.edit {
    background-color: var(--LightBlue);
}

button.edit:hover{
    background-color: #5a8cba;
}

button.delete{
    color:var(--OffWhite);
    background-color: #b2272e;
}

button.delete:hover{
    color:var(--OffWhite);
    background-color:#ff2832;
}

p.cancel
{
    cursor: pointer;
    color: #b2272e;
}

p.cancel:hover{
    color: var(--OffWhite);
    background-color: #ff2832;
}

td.edit-buttons p {
    margin: 5% 0% 0% 0%;
    padding: 5%;
}

td.edit-buttons {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}