button.submit,
button.save,
button.edit,
button.cancel {
    cursor:pointer;
    height: 25px;
    min-width: 60px;
    font-size: 0.8rem;
    color: var(--OffWhite)
}

button.submit,
button.save {
    background-color: #53af6f;
}

button.submit:hover,
button.save:hover {
    background-color: #3d8a55;
}

button.edit {
    background-color: blue;
}

p.cancel{
    cursor: pointer;
    color: #FB3640;
}

p.cancel:hover{
    color: var(--OffWhite);
    background-color: #FB3640;
}