@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

:root {
  /* --OffWhite: ghostwhite; */
  --OffWhite: #fff;
  --DarkBlue: #122439;
  --LightBlue: #335C81;
  --LightGrey: #ddd;
  --RaisinBlack: #242423;
  --Yellow: #F5CB5C;
}

body {
  background-color: var(--OffWhite);
  font-family: 'Jost', sans-serif;
  margin: 1%;

}

header {
  text-align: center;
}

h1 {
  color:var(--LightBlue);
  font-size: 2rem;
}